body {
  background: url(https://s3-us-west-1.amazonaws.com/chillcloud-dev/Splash.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 600;
}

.keylist {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}

div {
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  border: black;
  align-items: center;
  justify-content: space-between;
  border: 8px solid purple;
  transition: all 0.2s ease;
  background-color: gray;
  opacity: 0.8;
  margin: 12px;
}

div.playing {
  transform: scale(1.2);
  background-color: rgba(0, 173, 239, 0.9);
}

p {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  font-weight: 200;
}
